<!-- templates/base.html -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NZBills</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='parliament.png') }}"
    />
  </head>

  <body>
    <section class="w-full px-8 text-gray-700 bg-white">
      <div
        class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl"
      >
        <div class="relative flex flex-col md:flex-row">
          <a
            href="{{ url_for('main.index') }}"
            class="flex items-center mb-5 font-medium text-gray-900 lg:w-auto lg:items-center lg:justify-center md:mb-0"
          >
            <span
              class="mx-auto text-xl font-black leading-none text-gray-900 select-none"
              >NZ Bills<span class="text-indigo-600">.</span></span
            >
          </a>
        </div>

        <div class="inline-flex items-center ml-5 space-x-6 lg:justify-end">
          {% if not current_user.is_authenticated %}
          <a
            href="{{ url_for('main.login') }}"
            class="text-base font-medium leading-6 text-gray-600 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-900"
          >
            Log in
          </a>
          <a
            href="{{ url_for('main.signup') }}"
            class="inline-flex items-center justify-center px-4 py-2 text-base font-medium leading-6 text-white whitespace-no-wrap bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
          >
            Sign up
          </a>
          {% endif %} {% if current_user.is_authenticated %}
          <a
            href="{{ url_for('main.logout') }}"
            class="text-base font-medium leading-6 text-gray-600 whitespace-no-wrap transition duration-150 ease-in-out hover:text-gray-900"
          >
            Logout
          </a>
          {% endif %}
        </div>
      </div>
    </section>

    <section>
      <div class="container mx-auto">{% block content %} {% endblock %}</div>
    </section>

    <section class="bg-white">
      <div
        class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
      >
        <p class="mt-8 text-base leading-6 text-center text-gray-400">
          © 2023 NZBills, Group. All rights reserved.
        </p>
      </div>
    </section>
  </body>
</html>
