<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Ranopto
</h1>
<h2 class="subtitle">
  Ranopto is a leading lost video recording retriever for businesses and universities. Using Ranopto, you can retrieve your previously recorded session(s) if they got corrupted or got lost.
</h2>
<h2 class="subtitle">
Click on the <strong>Login</strong> or <strong>Sign Up</strong> button in the top-right corner to get started!
</h2>
<br>
<br>
<h2 class="subtitle" style="margin-bottom: 10px; font-weight: bold; font-size: x-large">FAQs:</h2>
<h3 class="subtitle" style="margin-bottom: 10px; font-weight: bold; text-decoration: underline;">How does it work?</h3>
<a style="margin-bottom: 15px">We use our top-secret algorithm to retrieve the lost video recorder session from
the Ether space, using a top-secret scanner technology
</a>
<br>
<br>
<h3 class="subtitle" style="margin-bottom: 10px; font-weight: bold; text-decoration: underline;">Is this genuine?</h3>
<a style="margin-bottom: 15px">
This website runs on HTTPS with a non-shady domain name. See for yourself. Additionally, once you Sign Up you would have access
to <strong>COMPX518 W3 L2 - Authentication 4</strong> video once you are logged in.
</a>
<br>
<br>
<h3 class="subtitle" style="margin-bottom: 10px; font-weight: bold; text-decoration: underline;">Pricing?</h3>
<a style="margin-bottom: 15px">It would cost you 0.518 XMR to recover one video.</a>
{% endblock %}